doctype html
title Quản lý Roles
meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
link(rel="stylesheet",type="text/css",href="/css/shared.css")
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js')
link(rel="stylesheet",type="text/css",href="/css/bootstrap-vue.css")
link(rel="stylesheet",type="text/css",href="/css/vue-good-table.min.css")
link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet",href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" )
 
link(rel="stylesheet",type="text/css",href="/css/index.css")
body
    div(id="vueel" style="display:none;")
        menu-page
        b-modal(v-model="modal.showModal",centered="",:title="modal.dataModal.title",size="xl",@close="modal.showModal = false")
            b-card(no-body='')
                .row
                    .col
                        b-form-group(label="Role Name",label-cols-sm="3",label-align-sm="right")
                            b-form-input(v-model="modal.dataModal.role_name")
                .row
                    .col
                        b-form-group(label="Description",label-cols-sm="3",label-align-sm="right")
                            b-form-input(v-model="modal.dataModal.description")                
                .row
                    b-button.mr-2(size='sm',variant="primary ml-2 mb-2", @click='addRow')
                        | thêm
                .row
                    b-table(
                        v-if="modal.dataModal.detail && modal.dataModal.detail.length",
                        :items='modal.dataModal.detail',
                        :fields='configs.fieldsDetail',
                        striped='',
                        sticky-header="",
                        head-variant="light",
                        class="table_custom_height"
                    )
                        template(#cell(active)='row')
                            b-form-checkbox(switch="", size="lg", v-model="row.item.active",type="number",@change="changeActive(row.item, row.index)")
                        template(#cell(day_from)='row')
                            date-picker(v-model="row.item.day_from",:config="{format: 'DD-MM-YYYY'}")
                        template(#cell(day_to)='row')
                            date-picker(v-model="row.item.day_to",:config="{format: 'DD-MM-YYYY'}")
                        template(#cell(luong)='row')
                            my-currency-input(v-model="row.item.luong")
                        template(#cell(soHD)='row')
                            b-form-input(v-model="row.item.soHD")
                        template(#cell(type)='row')
                            b-form-select(v-model="row.item.type",:options="getOptions('status')")
                        template(#cell(actions)='row')
                            b-button.mr-2(size='sm'  @click='clickDetail(row)')
                                | {{ row.detailsShowing ? &apos;Hide&apos; : &apos;Show&apos;}} Details
                            b-button(variant="danger mr-2",@click="runDeleteHopDong($event, row.index)") Delete
            div(slot="modal-footer")
                b-button(variant="default mr-2",@click="runCancel") Cancel
                span(v-if="modal.dataModal.action == 'add' ||  modal.dataModal.action == 'duplicate'")
                    b-button(variant="primary mr-2",@click="runAddData($event)") Add
                span(v-else-if="modal.dataModal.action == 'edit'")
                    b-button(variant="secondary mr-2",@click="runEdit($event)") Edit
        .row
            .col
                h1(style="text-align:center") Quản Lý Permission
        .row
            .col-md-1
                b-button(variant="primary",@click="addData") Add
        .row(v-show="!forms.isLoading")
            .col
                vue-good-table(:columns='configs.columns',
                        :rows='configs.rows',
                        :line-numbers="true",
                        :search-options="{enabled: true, skipDiacritics: true, trigger: 'enter', placeholder: 'Search name then press Enter'}"
                        :pagination-options="{enabled: true, mode: 'records', perPage: 10, perPageDropdown: [10, 20, 30, 40, 50], dropdownAllowAll: true, nextLabel: 'next', prevLabel: 'prev', rowsPerPageLabel: 'Rows per page', ofLabel: 'of', pageLabel: 'page', allLabel: 'All'}"
                    ) 
                    template(slot="table-row" slot-scope="props")
                        div(v-if="props.column.field == 'Edit'")
                            div(style="display:flex")
                                b-button(variant="warning mx-2",@click="editData(props.row, props.row.originalIndex)") Edit
                                b-button(variant="secondary mx-2",@click="duplicateData(props.row, props.row.originalIndex)") Duplicate
                                b-button(variant="danger mx-2",@click="deleteData(props.row, props.row.originalIndex)") Delete
                        div(v-else)
                            span {{props.formattedRow[props.column.field]}}
script(type="text/javascript").
    (function(){
        window.categories = !{JSON.stringify(locals.categories)};
        console.log(window.categories);
    })();
script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(type="text/javascript",src="./js/bootstrap.js")
script(src="https://cdn.jsdelivr.net/npm/moment@2.22")
script(src="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/js/bootstrap-datetimepicker.min.js")
script(type="text/javascript",src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js")
script(type="text/javascript",src="./js/vue-good-table.min.js")
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js')
script(src='//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js')
script(src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5")
script(src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js")
include ./menu
include ./categories
script(type="text/javascript", src="js/mainRoles.js")


script("text/javascript").
    if (document.getElementById('vueel')) {
        document.getElementById('vueel').style = 'display:block;';
    }